body{
   background-color: #31a587;
}
#myTopnav{
    background-color:rgb(29, 99, 89);
}
.header{
    border:double #27c49a 15px;
    background-color:#42f4c5;
    padding:0 30px 30px 30px ;
    margin-top:0;
    border-radius:50%;
}
.Topics,.Lists,.information,.header{
    margin-right:15%;
    margin-left:15%;
}
.Lists{
    padding:0;
    margin:0;
}
li:hover{
    color:red;
    font-size:30px;
}
a:visited{
    color:lime;
        font-size:30px;
}
a:hover{
    color:red;
    font-size:30px;
}
a:active{
    color:rgb(102, 255, 102);
    font-size:30px;
}
h1{
    text-align:center;
        font-size:70px;
       font-family: 'Dancing Script', cursive;
           color:rgb(153, 255, 204)

}

q{
    font-size:15px;
    font-family: 'Homemade Apple', cursive;
    color:DarkGreen;
    background-color: rgb(0, 0, 0);
}
p{
    color:Indigo;
    font-size:20px;
    font-family: 'Oleo Script', cursive;
    line-height:4em;
}
h3{
    font-family: 'Shadows Into Light', cursive;
    color: rgb(350, 153, 51);
}
li{
    font-family: 'Sedgwick Ave', cursive;
    color: rgb(9, 125, 51);
    line-height:3em;
        list-style-type:none;
}
u{
    text-decoration: underline;
}